[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/he/*"
  to = "/he/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

